{% extends "root.html" %}

{% block body %}
  <style>
    button {
      background-color: white;
    }

    select:has(option[value=last]:checked) ~ [name=from],
    select:has(option[value=last]:checked) ~ [for=from],
    select:has(option[value=last]:checked) ~ [name=to],
    select:has(option[value=last]:checked) ~ [for=to]  {
      visibility: hidden;
    }
    select:has(option[value=between]:checked) ~ [name=last],
    select:has(option[value=between]:checked) ~ [for=last] {
      visibility: hidden;
    }

    select:has(option[value=github]:checked) ~ [for=gitlab] {
      display: none;
    }
    select:has(option[value=gitlab]:checked) ~ [for=github] {
      display: none;
    }

  </style>
  <nav hx-boost="true" hx-target="main" hx-swap="innerHTML">
    {% for tenant in tenantList %}
      <a href="?tenant={{tenant.name}}">{{tenant.name}}</a>
    {% endfor %}
    <div id="user-button" style="float: right;"></div>
  </nav>
  <main>
    {% block content %}
    {% endblock %}    
  </main>
  <script>
    const frontendApi = '{{AppConfig.clerk.domain}}.accounts.dev';
    const version = '@latest'; // Set to appropriate version

    // Creates asynchronous script
    const script = document.createElement('script');
    script.setAttribute('data-clerk-publishable-key', "{{AppConfig.clerk.publishableKey}}")
    script.async = true;
    script.src = `https://${frontendApi}/npm/@clerk/clerk-js${version}/dist/clerk.browser.js`;

    script.addEventListener('load', async function () {
      await window.Clerk.load();

      const userButtonComponent = document.querySelector('#user-button');
      window.Clerk.mountUserButton(userButtonComponent);
    });
    document.body.appendChild(script);
  </script>
{% endblock %}
